body{
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    width: 960px;
}
img{
    max-width: 100%;
    width: 300px;
    padding: 0;
    margin-left: 1rem;
}

ul{
    padding: 0;
    display: flex;
    flex-wrap: wrap ;
}

li{
    display: block;
    max-width: 50%;
}

article{
   width: 250px;
   max-width: 100%;
   margin-right: 5rem;
   margin-left: 1rem;
}

h2{
    margin-left: 1rem;
}

h4{
    margin-left: 1rem;
}

div{
    margin-left: 1.9rem;
    font-size: 18pt;
}

h1{
    margin-left: 1.9rem;
    font-size: 36pt;
}
ol li {
    max-width: 100%;
    display:list-item;
}
.instructions h2 {
    margin: 0;
}



@media (max-width: 640px){
    ul{display: block;
    }
}
@media (max-width: 640px){
    li{max-width: 85%;}
}

@media (max-width: 640px){
    body{
        margin-left: 1rem;
        max-width: 100%;
    }
}
@media (max-width: 640px){
    article{
        margin-right: 0;
        margin-left: 0;
    }
}

@media (max-width: 640px){
        h1{
            margin-left: 0;
        }
    }

@media (max-width: 640px){
    div{
        margin-left: 0;
    }
}

@media (max-width: 640px){
    img {
        margin-left: 0;
    }
}

@media (max-width: 640px){
    h2{
        margin-left: 0;
    }
}

@media (max-width: 640px){
    h4{
        margin-left: 0;
    }
}