body {
    background-color:cornsilk;
}
main {
    text-align: center;
    font-family:'Courier New';
}
h1 {
    font-family: 'Gill Sans';
    font-size: 50px;
}
h2 {
    font-family: 'Gill Sans';
    font-size: 25px;
}
.name {
    font-weight: bold;
    color:blueviolet;
}
.dialog {
    display: inline-block;
    text-align: left;
    width: 300px
}